extends layout

block content
  h1  ERROR
  h2= message



  noscript
        p JavaScript appears to be disabled or not supported on your browser.
        p Please re-enable or use a supported browser for full functionality.


    p Please contact sleep-deprived student developer for assistance.

  button(onclick="move()") Try New Search
  script.

    function move() {
      window.location.href = '/'
    }