extends layout

block content
  h1= ERROR
  h2= message
  //pre #{error.stack}

  noscript
        p JavaScript appears to be disabled or not supported on your browser.
        p Please re-enable or use a supported browser for full functionality.

  button(onclick="move()") New Search
  script.

    function move() {
      window.location.href = '/'
    }