extends layout

block content
  h1= title
  p Please enter your search parameters



    form(name="find-duration", method="post")

      div.input
        span.label Start Address:
        input(name= 'start_address', type=text, placeholder="4020 Coriolis Loop, Eureka, OR 98765")

      div.input
        span.label End Address:
        input(name= 'end_address', type=text, placeholder="1640 Riverside Dr, Hill Valley, CA")

      div.actions
        input(type="submit", value="Submit")