extends layout

block content
  h1= title
  p Please enter your search parameters



    form(name="find-duration", method="post")


      div.input
        span.label Start Address:
        textarea(name="start_address", cols="40", rows="1")
      div.input
        span.label End Address:
        textarea(name="end_address", cols="40", rows="1")

      div.actions
        input(type="submit", value="Submit")