doctype html
html(lang='en')
    head
        title Compare Your Commute

        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='favicon.ico', type='image/x-icon')

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            body {
                font-family: 'Work Sans', sans-serif;
                text-align: center;
                background: url("https://s3-us-west-2.amazonaws.com/hs-production-blog/blog/wp-content/uploads/2016/02/15110251/hero_meditate_on_subway.png");
                background-size: cover;
            }
            #image {
                height: 32px;
                width: 32px;
                position: absolute;
                top: 10px;
                right: 10px
            }



    body
        img.image#image(src=pic )
        .container
            .jumbotron.text-center.m-4
                h1.jumbotron  Compare Your Commute

                //  GOOGLE LOGIN BUTTON
                if (!name)
                    a(href = "/auth/google")
                        button(type="button") Login with Google
                    br
                    br
                else
                    h2 Welcome, #{name}
                    br
                    if (last_in)
                        p Your last login was #{last_in}
                    br
                    a(href = "/logout")
                        button(type="button") Log out of Google
                    br
                    br
                if (!name)
                    a(href = "/search")
                        button(type="button") Continue to App
                else
                    a(href = "/search?" + "name=" + name)
                        button(type="button") Continue to App
                p
                p #{status}
